.card{ style: 'width: 20rem; margin: auto auto' }
  %h4.card-header Luciano API Task
  = form_tag run_api_path, method: :get
  .form-group
    = label_tag :start_date
    = date_field_tag :start_date, Time.now.strftime("%Y-%m-%d"), class: 'form-control'
  .form-group  
    = label_tag :end_date
    = date_field_tag :end_date, Time.now.strftime("%Y-%m-%d"), class: 'form-control'
  .form-group  
    = label_tag :group_by
    %small.form-text.text.muted You can select multiple options
    = select_tag :group_by, options_for_select(['connection','app','platform','ad_type','ad_format','custom_1','custom_2','custom_3','custom_4','campaign','ad','ctm','country'].sort), multiple: true, class: 'form-control'
  .form-group  
    = submit_tag 'Run API', class: 'btn btn-primary btn-block'