- flash.each do |message_type, message|
  - case message_type.to_sym
    - when :alert
      - message_type = :warning
    - when :notice
      - message_type = :info  
  .alert.alert-dismissible.fade.show#flash{ class: "alert-#{message_type}", role: :alert }
    %button.close{ type: :button, :'data-dismiss' => :alert, :'aria-label' => :Fechar }
      %span{ :'aria-hidden' => true } &times;
    - if message.class.to_s == 'Array'
      - message.each do |msg|
        = msg   
        %br       
    - else
      = message  